<div id="wrapper">
        <app-sidebar></app-sidebar>
        <div id="page-wrapper" class="gray-bg">
            <app-header></app-header>
            <div class="row wrapper border-bottom white-bg page-heading pd-top">
    
                <div class="col-lg-9">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/dashboard']">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Trash</strong>
                        </li>
                    </ol>
                </div>
    
               
            </div>
            <div class="wrapper wrapper-content dp-fx">
                <ng-container *ngIf='trashedProducts && trashedProducts.length'>
                    
                    <div class="row col-lg-12">
                        <div class="col-lg-4" *ngFor='let product of trashedProducts; let i=index'>
                            <div class="ibox" >
                                <div class="ibox-title">
                                    <h5>{{product.productName}}</h5>
                                </div>
                                <div class="ibox-content">
                                    <h4>Product Ratings</h4>
                                    <p>
                                        {{product.starRating}}
                                    </p>
                                    <h4>Product Description</h4>
                                    <p class="dec-wd">
                                        {{product.description}}
                                    </p>
    
                                    <img [src]='product.imageUrl' [title]='product.productName' width="100%" height="150"
                                      alt="NO IMAGE AVAILIBLE" />
                                </div>
                           
                                <div>
                                    <button class="col-lg-6 btn-success" id="i" (click)="restoreProduct(product)">
                                        Restore</button>
                                    <button class="col-lg-6 btn-danger" (click)="deleteProduct(product, i)">
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- </ng-container> -->
    
                    </div>
    
                </ng-container>
                <div class="col-lg-12" *ngIf='trashedProducts && trashedProducts.length == 0'>
                        No Trashed Products Found.
                    </div>
            </div>
            <div class="footer">
                <app-footer></app-footer>
            </div>
        </div>
    </div>